<section class="text-gray-600 body-font">

<!-- card instead
  class="relative w-full bg-white px-6 pt-10 pb-8 mt-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10"> -->

  <!-- title -->
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="title-font-plus sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Frequently Asked<span class="title-highlight text-sky-400"> Questions </span></h1>
      <p class="text-base font-bold leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-600">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
      <div class="flex mt-6 justify-center">
        <div class="bg-sky-400 w-16 h-1 rounded-full inline-flex"></div>
      </div>
    </div>

    <!-- begining of faqs -->
    <div class="mx-auto max-w-5xl divide-y divide-neutral-200">
      <!-- 1 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-3 px-6 mb-8 transition-all">
            <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                <span
                  class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">  
                  How does the billing work?
                </span>
                <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.2" viewBox="0 0 24 24" width="24"
                            class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
            </summary>
            <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">Springerdata offers a variety of
                billing options, including monthly and annual subscription plans, as well as pay-as-you-go
                pricing for certain services. Payment is typically made through a credit card or other
                secure online payment method.
            </p>
        </details>
      </div>
      <!-- 2 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                <span
                  class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">
                  Can I get a refund for my subscription?
                </span>
                <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.2" viewBox="0 0 24 24" width="24"
                            class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
            </summary>
            <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">We offer a 30-day money-back
                guarantee for most of its subscription plans. If you are not satisfied with your
                subscription within the first 30 days, you can request a full refund. Refunds for
                subscriptions that have been active for longer than 30 days may be considered on a
                case-by-case basis.
            </p>
        </details>
      </div>
      <!-- 3 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                  <span
                    class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">
                     How do I cancel my subscription?
                  </span>
                  <span class="transition group-open:rotate-180">
                          <svg fill="none" height="24" shape-rendering="geometricPrecision"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.2" viewBox="0 0 24 24" width="24"
                              class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                              <path d="M6 9l6 6 6-6"></path>
                          </svg>
                      </span>
              </summary>
              <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">To cancel your subscription, you can
                  log in to your account and navigate to the subscription management page. From there, you
                  should be able to cancel your subscription and stop future billing.
              </p>
          </details>
      </div>
      <!-- 4 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                  <span
                    class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">
                     Is there a free trial?
                  </span>
                  <span class="transition group-open:rotate-180">
                          <svg fill="none" height="24" shape-rendering="geometricPrecision"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.2" viewBox="0 0 24 24" width="24"
                              class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                              <path d="M6 9l6 6 6-6"></path>
                          </svg>
                      </span>
              </summary>
              <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">We offer a free trial of our software
                  for a limited time. During the trial period, you will have access to a limited set of
                  features and functionality, but you will not be charged.
              </p>
          </details>
      </div>
      <!-- 5 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                  <span
                    class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">
                    How do I contact support?
                  </span>
                  <span class="transition group-open:rotate-180">
                          <svg fill="none" height="24" shape-rendering="geometricPrecision"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.2" viewBox="0 0 24 24" width="24"
                              class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                              <path d="M6 9l6 6 6-6"></path>
                          </svg>
                      </span>
              </summary>
              <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">If you need help with our platform or
                  have any other questions, you can contact the company's support team by submitting a support
                  request through the website or by emailing support!ourwebsite.com.
              </p>
          </details>
      </div>
      <!-- 6 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                  <span
                    class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">
                    Do you offer any discounts or promotions?
                  </span>
                  <span class="transition group-open:rotate-180">
                          <svg fill="none" height="24" shape-rendering="geometricPrecision"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.2" viewBox="0 0 24 24" width="24"
                              class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                              <path d="M6 9l6 6 6-6"></path>
                          </svg>
                      </span>
              </summary>
              <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">We may offer discounts or promotions
                  from time to time. To stay up-to-date on the latest deals and special offers, you can sign
                  up for the company's newsletter or follow it on social media.
              </p>
          </details>
      </div>
      <!-- 7 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
            <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                <span
                  class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">  
                  How does the billing work?
                </span>
                <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.2" viewBox="0 0 24 24" width="24"
                            class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
            </summary>
            <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">Springerdata offers a variety of
                billing options, including monthly and annual subscription plans, as well as pay-as-you-go
                pricing for certain services. Payment is typically made through a credit card or other
                secure online payment method.
            </p>
        </details>
      </div>
      <!-- 8 -->
      <div class="py-4 rounded-2xl hover:bg-sky-50 hover:shadow-gray-200 hover:shadow-lg ">
        <details class="group py-5 px-6 mb-8 transition-all">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                <span
                  class="group inline-flex items-center justify-between leading-8 text-gray-900 text-xl w-full transition duration-500 text-left hover:text-sky-600 ">
                  Can I get a refund for my subscription?
                </span>
                <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.2" viewBox="0 0 24 24" width="24"
                            class="text-sky-500 border border-gray-200 transition duration-500 group-hover:text-sky-600 group-hover:bg-white text-sky-400 w-10 h-10 hover:bg-white rounded-full">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
            </summary>
            <p class="group-open:animate-fadeIn mt-3 text-neutral-600 font-medium ">We offer a 30-day money-back
                guarantee for most of its subscription plans. If you are not satisfied with your
                subscription within the first 30 days, you can request a full refund. Refunds for
                subscriptions that have been active for longer than 30 days may be considered on a
                case-by-case basis.
            </p>
        </details>
      </div>


    </div>

  </div>
</section>